<section class="admin-page">
  <div class="admin-header">
    <div>
      <p class="admin-eyebrow">Panel de administración</p>
      <h1>Gestión de cursos</h1>
      <p class="admin-subtitle">Crea, edita y elimina cursos de Lumina System.</p>
    </div>

    <a routerLink="/admin/cursos/nuevo" class="new-course-btn">
      Nuevo curso
    </a>
  </div>

  @if (loading()) {
    <p class="state-message">Cargando cursos...</p>
  } @else {
    <div class="course-grid">
      @for (course of courses(); track course.id) {
        <article class="course-card">
        <img [src]="course.imagenUrl" [alt]="course.titulo" class="course-image" />
          <div class="course-content">
            <div class="course-meta">
              <span>{{ course.categoria }}</span>
              <span>{{ course.nivel }}</span>
            </div>

            <h2>{{ course.titulo }}</h2>
            <p>{{ course.descripcion }}</p>

            <div class="course-footer">
              <strong>${{ course.precio }}</strong>

              <div class="course-actions">
                <a
                  [routerLink]="['/admin/cursos/editar', course.id]"
                  class="edit-btn"
                >
                  Editar
                </a>

                <button
                  type="button"
                  class="delete-btn"
                  (click)="openDeleteModal(course)"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </article>
      }
    </div>
  }

  @if (showDeleteModal()) {
    <div class="modal-backdrop">
      <div class="delete-modal">
        <p class="modal-eyebrow">Confirmación de seguridad</p>
        <h3>Eliminar curso</h3>

        <p class="modal-text">
          ¿Seguro que quieres eliminar el curso
          <strong>{{ selectedCourse()?.titulo }}</strong>?
        </p>

        <div class="form-group">
          <label for="adminPassword">Contraseña de administrador</label>
          <input
            id="adminPassword"
            type="password"
            [value]="adminPassword()"
            (input)="onPasswordInput($event)"
            placeholder="Ingresa tu contraseña"
          />
        </div>

        @if (deleteError()) {
          <div class="modal-error">
            {{ deleteError() }}
          </div>
        }

        <div class="modal-actions">
          <button type="button" class="cancel-btn" (click)="closeDeleteModal()">
            Cancelar
          </button>

          <button
            type="button"
            class="confirm-btn"
            [disabled]="deleteLoading()"
            (click)="confirmDelete()"
          >
            @if (!deleteLoading()) {
              <span>Confirmar eliminación</span>
            } @else {
              <span>Validando...</span>
            }
          </button>
        </div>
      </div>
    </div>
  }
</section>